# Borrar esta linea que va a tirar error, casi todo lo extra, y saque un show que pense que no deberia estar

<body style="background-color:rgb(51,51,51);">

<div class="form-box" >
<div class="form-h1">Editing Country</div>



<%= render 'form', country: @country %>

<p style="text-align:right;">
<%= link_to 'Back', countries_path %>
</p>
</div>




</body>
