# Borrar esta linea que va a tirar error, lo extra, espero que se autoexplique
<body style="background-color:rgb(51,51,51);">

<div class="form-box" >
<div class="form-h1">New Country</div>

<%= render 'form', country: @country %>
<p style="text-align:right;">
<%= link_to 'Back', countries_path %>
</p>
</div>


</body>
